
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

*{
    font-family: 'Akaya Telivigala', cursive;  
}


/* navbar css */

.container{
    min-height: 100%;
    bottom:90%;
    padding-bottom: 10px;
  
}
.register{
    text-align: center;
}
.formclass{
    /* margin:50px; */
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    width:60%;
    box-shadow: 1px 2px 10px #d1ccc0;
    padding:3%;
    margin-top:10px;
}
.form-group{
    font-size:larger;
}
.buttons{
    display: flex;
    justify-content: center;
}


/* indexpage css */
.index-heading
{
   
    height: 110vh;
    width: 100%;
    background-size: 100% 100%;
    background-image:url('/media/food_images/home/final.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: overlay; 
    position: relative;
   
}
.main-class{
  margin: auto;
  margin-top: 10px;
  width: 70%;
  height: 30%;
}
.text-body{
    top:15%;
    left:10%;
    position: absolute;
    transform: translate(-10%,-15%);
    font-weight: 600;
    width:400px;
    text-align: center;
    color: #ffffff !important;
    /* background-color: rgb(146, 226, 193); */
    padding: 5px;
}



/* about page */
.about{
   
    height: 100vh;
    width: 100%;
    font-weight: 400;
    font-size: 1.2em;
    background-size: cover;
    background-color: rgb(25, 68, 77);
    background-blend-mode: overlay;
    color: white;

}


/* cart page */

.buttons_carts .cart{
    background-color: #0597B9;
}
.buttons_carts .like{
    background-color: #e71235;
}


.cart_page{
    min-height: 250px;
}
.cart_page .btn-primary{ 
    margin: auto;
    border-bottom: 2px solid black;
    background-color: rgb(131, 26, 61);
    color:blanchedalmond
}

/* show dish page */

.show_dish{
    background-image: radial-gradient(circle, #3be9bc, #1fe9ad, #00e99b, #00e886, #00e76f, #55da4f, #74cd2f, #8abf00, #a6a200, #b68400, #bb6600, #b74821);
    padding: 10px 0;
}
.show_dish .image_item img{
    width:200px;
    height: 200px;
    border-radius: 50%;
}
.show_dish .image_item{
   margin:auto;
}
.show_dish .card{
    margin:auto;
    width:60%;
    -webkit-box-shadow: 0px 0px 14px 1px rgba(255,105,97,1);
    -moz-box-shadow: 0px 0px 14px 1px rgba(255,105,97,1);
    box-shadow: 0px 0px 14px 1px rgba(255,105,97,1);
}

.order_page{
    padding-top: 10px;
    /* background-image: linear-gradient(to right top, #edf62b, #fbd514, #ffb31b, #ff922c, #f6733c, #e87233, #d9712b, #cb7023, #b18810, #909b23, #67ab49, #21b776); */
}
.order_page .card
{
    -webkit-box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.75);
}
.order_page .total
{
    border-radius: 30px;
    margin-left:80%;
    margin-bottom: 20px;
    width:20%;
    padding: 5px;
    text-align: center;
    color:white;
    margin-right: 30px;
    background-image: linear-gradient(to right top, #f62b60, #f2345c, #ed3b58, #e94154, #e44751, #df484c, #da4a47, #d54b42, #ce4a3a, #c64931, #bf4929, #b74821);
}
.order_page .total:hover
{
    color: #f62b60;
    background-image: linear-gradient(to right top, #cdeeff, #c0e8fb, #b3e2f6, #a5ddf1, #97d7ec, #88d3e6, #78cee0, #68cad9, #54c6ce, #40c1c1, #2ebcb3, #21b7a3);
}

.order_page .paynow .pay
{
    margin:10px;
    padding: 5px 10px;
    color: #fff;
    font-size: 1.5em;
    border-radius: 20px;
    font-weight: 600;
    background-image: linear-gradient(to bottom, #7fe93b, #70e953, #62e968, #55e97a, #49e88a, #44e487, #3fdf85, #39db82, #39d26d, #3bc957, #3ec03f, #42b721);
}


.order_page .card
{
   height:150px;
   width: 400px;
}
.order_page .card p
{
   margin: 0px;
}
.order_page .card img{
    width:150px;
    height: 150px;
}



/* payment .page */

.payment{
    background-image: linear-gradient(to left top, #d16ba5, #ec7585, #f18c67, #e1a958, #c3c662, #afd26b, #96dd7a, #75e790, #66e788, #55e77f, #40e776, #1ee76d);
    height: 60vh;
    padding-top: 30px;
}
.payment form{
    
     margin: auto;
     width: 30%;
     border-radius: 20px;
    padding: 20px;
     
}
.payment .checkout
{
    margin-top: 10px;
    background-color: #871C59;
    border-radius: 50px;
    padding: 5px 15px;
    color:white;
    box-shadow: none;
    border:1px solid #871C59;
}