{% extends 'OrderingOnline\root_file.html' %}
{% block content %}
{% load static %}
       <link rel="stylesheet" type="text/css" href="{% static 'OrderingOnline/register.css' %}" />
<div class="p-5 about">
   <p>
    Our story starts in 1996 when Emma left school and began working at Mary’s Organics, one of Australia’s first home delivery companies supplying Sydney with organic fruit & veg….founded by Mary & Tim Rutherford in 1988, the business initially sold ‘chemical free’ and ‘preservative free’ produce.

    Emma quickly grew passionate about organic food and the philosophies behind it’s production. After a number of years at Mary’s, Emma left the industry for 6 months to try something else. Even though her new job was great, she missed Mary’s, the Farmers and Customers not to mention her new found love of working towards a sustainable Australia.
    
    Cheryl & Bob encouraged their daughter to look into starting her own Organic Home Delivery, around the same time Gil and Rochelle who owned Lettuce Deliver were looking to sell their small shop and handful of home deliveries based in the Eastern Suburbs. Emma & Cheryl decided to take on the challenge back in 1999.
    
    By 2000, Lettuce Deliver had totally outgrown the premises in Tamarama. So the girls decided that to supply their customers with the best possible produce that home delivery was the way forward. Ordering and delivery days were thought out carefully so that produce would be as fresh as possible and certainly not waiting around for sales. The shop was closed and Lettuce Deliver moved to a warehouse just outside Flemington Markets. At the same time Emma’s former boss approached Emma & Cheryl to purchase Mary’s Organics. Her first love – how could they refuse.
    
    So the two businesses were merged and re-located to Homebush. It was decided that the name Mary’s would be retained and the business would go forward as Lettuce Deliver.
    
    There were new challenges immediately; foremost a handful of staff, with deliveries numbering a few hundred per week, the girls knew they needed to ask Bob to join them on their Organic Adventure, his expertise being in logistics.
   </p>
</div>
{% include 'OrderingOnline\footer.html' %}
{% endblock %} 
