<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/delivery_boy/d_home.css' %}">
    <title>Home</title>
  </head>
  
  <body>
    <!-- {{request.session.r_photo}} -->
    {% if request.session.d_email %}
    <!-- "/media/"{{request.session.r_photo}} -->
    <div class="container-fluid">
        <div class="row">
          {% include "delivery_boy\sidebar.html" %}
        <div class="col-md-9">
            <div class="contanier-main">
                <div class="formclass">
                    <form action="{% url 'change_password' %}" method="post">
                      {% csrf_token %}
                        <div class="change">
                            <h1>Change Password</h1>
                            <hr>
                        </div>
                        {% if forget %}

                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                          <strong>have you forget the password?  <a href=" ">Click</a></strong>  {{message}}
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        {% elif no %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                              <strong>{{message}}</strong>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                          {% elif yes %}
                          <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>{{message}}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                        {% endif %}
                        <div class="form-group">
                          <label for="password">Current Password</label>
                          <input type="password" class="form-control"  onkeyup="checkpass" name="Oldpassword" id="password" placeholder="Password" requried>
                        </div>
                        <div class="form-group">
                          <label for="password1">New Password</label>
                          <input type="password" class="form-control" onkeyup="checkpass" name="Newpassword" id="password1" placeholder="Password" requried>
                        </div>  
                        <div class="form-group">
                            <label for="password2">New Confirm Password</label>
                            <input type="password" class="form-control" onkeyup="checkpass" name="NewConfirmpassword" id="password2" placeholder="Password" requried>
                          </div>          
                      <button type="submit" class="btn btn-success" onclick="checkpass">Change</button> <a href="{% url 'home' %}" class="btn btn-dark">Back</a>
                      </form>
                      
                </div>
         </div>
       </div>
        <!-- End vertical navbar -->
        {% endif %}
     
      
  
     
 
    <!-- End vertical navbar -->

    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

  
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
  </body>
</html>