<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/Restaurant1/home.css' %}">
    <title>ChangePAssword</title>
    <style>
      .col-md-10{
        color: black;
      }
    </style>
  </head>

  
  <body>
 
    {% include "restaurant1/sidebar.html" %}
         <div class="col-md-10">
            <div class="contanier-main">
                <div class="formclass">
                    <form action="{% url 'changingpassword' %}" method="post">
                      {% csrf_token %}
                        <div class="change">
                            <h1>Change Password</h1>
                            <hr>
                        </div>
                        {% if fail %}
                            <div class="alert {{color}} alert-dismissible fade show" role="alert">
                                <strong>have you forget the password?  <a href=" ">Click</a></strong>  {{fail}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                              </div>
                        {% elif success %}
                           <div class="alert {{color}} alert-dismissible fade show" role="alert">
                                {{success}}
                               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
                        {% endif %}
                        <div class="form-group">
                          <label for="password">Current Password</label>
                          <input type="password" class="form-control"  onkeyup="checkpass" name="Oldpassword" id="password" placeholder="Password" requried>
                        </div>
                        <div class="form-group">
                          <label for="password1">New Password</label>
                          <input type="password" class="form-control" onkeyup="checkpass" name="Newpassword" id="password1" placeholder="Password" requried>
                        </div>  
                        <div class="form-group">
                            <label for="password2">New Confirm Password</label>
                            <input type="password" class="form-control" onkeyup="checkpass" name="NewConfirmpassword" id="password2" placeholder="Password" requried>
                          </div>          
                      <button type="submit" class="btn btn-success" onclick="checkpass">Change</button> <a href="{% url 'r_home' %}" class="btn btn-dark">Back</a>
                      </form>
            
                </div>
         </div>
       </div>
     
     
      
  
     
 
    <!-- End vertical navbar -->

    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- javascript link -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>